<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>Metrics 2.0: Media</title>
        {{ template "partials/meta.html" . }}
  </head>
  <body>
    {{ template "partials/header.html" . }}
    <div class="container">
        <br/>&nbsp;
        <br/>&nbsp;

      <h1>Media</h1>

        <br/>&nbsp;

<h3 id="monitorama2014">Metrics 2.0 @ Monitorama PDX</h3> May 5 2014, Portland, Oregon.
<br/>
<br/>

This talk gives a brief (25min) overview of the problems, metrics 2.0, most common graph-explorer features and a few future ideas.

<!-- <a href="http://dieter.plaetinck.be/introduction_talk_to_metrics2-0_and_graph_explorer.html">original post</a> -->

<p>
The <a href="https://vimeo.com/95076197">video</a> and <a href="http://www.slideshare.net/Dieterbe/metrics20-34319840" target="_blank" title="Metrics 2.0 @ Monitorama PDX">slides</a> are available and also embedded below.
</p>

<iframe src="http://www.slideshare.net/slideshow/embed_code/34319840" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<iframe allowfullscreen="allowfullscreen" frameborder="0" height="356" mozallowfullscreen="mozallowfullscreen" src="//player.vimeo.com/video/95076197?title=0&amp;byline=0&amp;portrait=0&amp;color=33a352" webkitallowfullscreen="webkitallowfullscreen" width="633"></iframe>

        <br/>&nbsp;

<br/>
<h3 id="fullstack-meetup">Metrics 2.0 &amp; Graph-Explorer</h3> February 18 2014,  NYC
<br/>
<br/>

This talk gives a very brief (18min) overview of the problems, metrics 2.0, and most common graph-explorer features.
(<a href="http://dieter.plaetinck.be/introduction_talk_to_metrics2-0_and_graph_explorer.html">original post</a>)
<br/>Note that the <a href="#monitorama2014">monitorama version</a> of this talk is better.
<br/>The <a href="http://vimeo.com/87194301">video</a> and <a href="https://www.slideshare.net/Dieterbe/metrics2-0graphexplorer20140218" target="_blank" title="Metrics 2.0 &amp; Graph-Explorer">slides</a> are available and also embedded below.

<p>
</p>
<iframe allowfullscreen="allowfullscreen" frameborder="0" height="356" marginheight="0" marginwidth="0" scrolling="no" src="http://www.slideshare.net/slideshow/embed_code/31440297" width="427"> </iframe>
<iframe allowfullscreen="allowfullscreen" frameborder="0" height="356" mozallowfullscreen="mozallowfullscreen" src="//player.vimeo.com/video/87194301?title=0&amp;byline=0&amp;portrait=0&amp;color=33a352" webkitallowfullscreen="webkitallowfullscreen" width="633"></iframe>

        <br/>&nbsp;

<br/>
<h3 id="nycdevops">Metrics stack 2.0</h3>  April 3rd, 2014, NYC.
<br/>
<br/>
This talk goes in depth and also has a broad section on metric types.  However there's no video of this talk.
<a href="https://www.slideshare.net/Dieterbe/metrics-stack-20">slides</a>
<br/>

<iframe src="http://www.slideshare.net/slideshow/embed_code/33141516" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

  {{ template "partials/footer.html" . }}

      </div>
        </body>
        </html>

