<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
          <title>Metrics 2.0: resources</title>
              {{ template "chrome/meta.html" . }}
                </head>
                  <body>
                      {{ template "chrome/header.html" . }}
                          <div class="container">


                      <br/>
                      <br/>


<h2>Resources</h2>

<h4>Contributing</h4>

<ul>
<li><a href="https://github.com/metrics20">Github.com/metrics20</a></li>
<li><a href="https://github.com/metrics20/spec">Github.com/metrics20/spec</a></li>
<li><a href="https://github.com/metrics20/website">Github.com/metrics20/website</a></li>
</ul>

<h4>Community</h4>
<ul>
        <li>
          <a href="https://groups.google.com/forum/#!forum/metrics20" target="_blank">Community</a>
        </li>
</ul>

  {{ template "chrome/footer.html" . }}

      </div>
        </body>
        </html>

