    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Metrics 2.0</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/spec">Spec</a>
            </li>
            <li>
              <a href="/implementations">Implementations</a>
            </li>
            <li>
              <a href="/media">media</a>
            </li>
            <li>
              <a href="https://groups.google.com/forum/#!forum/metrics20" target="_blank">Community</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
