<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Metrics 2.0</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/news">News</a>
                </li>
                <li>
                    <a href="/spec">Spec</a>
                </li>
                <li>
                    <a href="/implementations">Implementations</a>
                </li>
                <li>
                    <a href="/media">Media</a>
                </li>
                <li>
                    <a href="/resources">Resources</a>
                </li>
                <li>
                    <a href="/news/index.xml"><img src="/img/rss.png"></img></a>
                </li>
            </ul>
        </div>
    </div>
</div>
