<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Metrics 2.0: an emerging set of standards around metrics</title>
    {{ template "chrome/meta.html" . }}
  </head>
  <body>
    {{ template "chrome/header.html" . }}

    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-9">
            <h1>Metrics 2.0</h1>
            <p class="lead">An emerging set of conventions, standards and concepts around timeseries metrics metadata</p>
          </div>
        </div>
      </div>

      <p>
      With metrics 2.0, we aim for <b>self-describing</b>, <b>standardized</b> metrics using <b>orthogonal tags</b> for every dimension.
      </p>By adopting metrics 2.0 you can:
      <ul>
        <li>increase compatibility between tools</li>
        <li>get immediate understanding of metrics</li>
        <li>build graphs, plots, dashboards and alerting expressions with minimal hassle</li>
      </ul>

      Let's look at an example of the conceptual representation of metrics (identifiers for timeseries, and their metadata) in different approaches.
      <div class="row">
        <div class="col-lg-6">
          <h4>Traditional systems</h4>
          <pre>
collectd.dfs1.df.srv-node-dfs10.df-complex.used
          </pre>
          <pre>
diskspace._srv_node_dfs10.byte_used
{
    server: dfs1
}
          </pre>
        </div>
        <div class="col-lg-6">
          <h4>Metrics 2.0</h4>
          <pre>
{
    server=dfs1
    what=diskspace
    mountpoint=/srv/node/dfs10
    unit=B
    type=used
    metric_type=gauge
}
meta: {
    agent: diamond,
    processed_by: statsd2
}
          </pre>
        </div>
      </div>

      <p>&nbsp;</p>

    <h2>What &amp; Why?</h2>
    <p>
    If you have a handful of metrics, you don't need to think about this and can stick with simple names for your metrics.
    However, as we grow our number of metrics and/or want to make more sense out of them, we need to be more systematic.
    <br/>Here are the reasons, concepts and their benefits
    </p>

    <h3>Retain information, self-describing metrics</h3>
    <p>
    Generating timeseries metrics is easy.
    <br/>Add a statsd call to an app, write to graphite from a cron, or add a plugin to your monitoring agent.  Give it a name and done!
    <br/><i>Not so fast!</i>
    <br/>How often will someone need this data in visualizations, processing or alerting?  How quick will they find it?  How often will somebody wonder what the metric means?  So much information about the metric is available when adding the metric, yet gets dumbed down or not included.
    Diving in code and asking around when all you want to do is graph data you know you have, is cumbersome.
    <br/>
    <b>Metrics 2.0 aims to retain all information</b> so that metrics self-describe themselves and are more easily found and understood.
    </p>

    <h3>Standardization</h3>
    <p>
    Standardization enables compatibility between tools, easier searching for metrics, automatic data conversion and more.
    Imagine the ability to swap out monitoring agents without hassle or a dashboard automatically processing data to be in the requested unit.
    </p>

    <h3>orthogonal tag space</h3>
    <p>
    Being limited to strings for metric identifiers (even when modeled in a tree like graphite) can be very limiting when trying to use several different metrics in the same information need.  There is simply no way to organize an entire tree of metrics from different apps and environments in a way that's optimal and allows all correlations and aggregations.  You can't even predict all correlations that somebody might want to do in the future.  Some systems add tags, which help, but only for a handful of properties, which diminishes their value.
    <b>A user should be able to correlate on, and aggregate across any chosen dimension[s]</b>, and the only way to enable this, is by using orthogonal dimensions, i.e. a independent tag key/value pairs.
    </p>

    <h3>this also means...</h3>
    <p>
    That dashboard apps can automatically provide dashboards (for example, a mysql dashboard for every server by looking at host=X and service=mysql).  That you can search for metrics on any of their attributes, that you can group them into graphs or aggregate them by any given dimensions (tag keys).
    </p>

    <h3>Support for metadata not part of metric identity</h3>
    <p>
    Information that comprises the metric identifier, is what we call <i>intrinsic properties</i>.
    Change a value and you get a different series name, nothing new there.
    Sometimes we want to include information about a metric that's not part of the metric identity.
    <i>Extrinsic properties</i> allow to include information about a metric (in the network proto, in the db, etc), which might change, without changing the metric identifier.
    I.e. it's metadata.  Some examples:  You can include the source of a metric (filename and line number), so you know who to contact in case 
    the metric source goes berserk.
    You can include which agent the data is coming from, without being forced to recreate graphs when you switch to a different agent.
    You can even include comments if the tags are not sufficient.
    </p>

    <h3>Automatically build visualizations and processing/alerting rules with minimal work</h3>
    <p>
    If metrics describe themselves, and do so in a standardized way, does that mean that advanced dashboards and processing engines
    can leverage this to build visualizations or alerting rules automatically? <i>Yes it does!</i>
    <a href="http://vimeo.github.io/graph-explorer/">Graph-Explorer</a> is a graphite dashboard that does this:
    For any given information need, expressed as a query, it will automatically generate graph definitions and alerting rules, it takes
    care of fetching the metrics matching given conditions, doing aggregations, grouping and processing (such as unit conversion, scaling, deriving/integrating).  It can even automatically fill in the graph title, y-axis labels and legend entries and apply sensible coloring, by looking at the metric tags and which of them they have in common on a graph vs which set them apart from each other.
    </p>

    <h3>There's more!</h3>
    <p>
    There's some more interesting benefits, related to rollups, correctness of visualizations.
    Check out <a href="/media">media</a> to learn more.
    </p>

    <p>&nbsp;</p>

    <h2>Get started!</h2>
    Check out the <a href="/implementations">existing tools</a>, <a href="/media">watch some presentations</a>,
    add support for the <a href="/spec">spec</a> in your favorite monitoring tool or <a href="https://groups.google.com/forum/#!forum/metrics20">join the conversation</a>!

    {{ template "chrome/footer.html" . }}

    </div>
  </body>
</html>
